### Библиотеки

In [2]:
import pandas as pd
import numpy as np

### Создание

#### из списка

создаем Series значений из списка целых чисел

In [3]:
s = pd.Series(data=[10, 11, 12, 13, 14],
              index=[1, 2, 3, 5, 7])
s

1    10
2    11
3    12
5    13
7    14
dtype: int64

создаем Series из строковых значений

In [4]:
s = pd.Series(['Blue', 'Yellow', 'Green'])
s

0      Blue
1    Yellow
2     Green
dtype: object

создаем Series из 5 элементов, каждый элемент - list python

In [5]:
l = [[1, 2]]
s = pd.Series(l*5)
s

0    [1, 2]
1    [1, 2]
2    [1, 2]
3    [1, 2]
4    [1, 2]
dtype: object

создаем DataFrame из двумерного списка

In [6]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]])
df

    0   1
0  10  11
1  20  21
2  30  31

задаем имена столбцов

In [7]:
df = pd.DataFrame([[10, 11], [20, 21], [30, 31]],
                  columns=['A', 'B'])
df

    A   B
0  10  11
1  20  21
2  30  31

создаем DataFrame для списка объектов Series

In [8]:
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
df = pd.DataFrame([series_1, series_2])
df

    0   1
0  70  90
1  71  91

задаем имена столбцов после создания датафрейма

In [9]:
df.columns = ['col_1', 'col_2']
df

   col_1  col_2
0     70     90
1     71     91

#### из словаря

создаем объект Series из словаря, при этом посмотрим, как изменились индексы

In [10]:
s = pd.Series({'Homer': 'Dad',
               'Marge': 'Mom',
               'Bart': 'Son',
               'Lisa': 'Daughter',
               'Maggie': 'Daughter'})
s

Homer          Dad
Marge          Mom
Bart           Son
Lisa      Daughter
Maggie    Daughter
dtype: object

создание DataFrame с помощью питоновского словаря

In [ ]:
list_1 = [70, 71]
list_2 = [90, 91]
temperatures = {'col_1': list_1,
                'col_2': list_2}
pd.DataFrame(temperatures)

создание DataFrame с помощью словаря, состоящего из объектов Series

In [11]:
series_1 = pd.Series([70, 71])
series_2 = pd.Series([90, 91])

df = pd.DataFrame({'col_1': series_1,
                   'col_2': series_2})
df

   col_1  col_2
0     70     90
1     71     91

#### при помощи функций

создание Series, используя np.arange - последовательность чисел от **start** до **stop-1** с шагом **step**:
```python 
np.arange(start, stop, step) 
```

In [1]:

s = pd.Series(np.arange(0,20,15))
s

NameError: name 'pd' is not defined

создаем Series из 5 значений, равномерно разбивающих отрезок 0 до 9

In [13]:
s = pd.Series(np.linspace(0, 9, 5))
s

0    0.00
1    2.25
2    4.50
3    6.75
4    9.00
dtype: float64

Генерация случайных чисел.

Зафикисруем значение seed, что позволит нам в будущем воcпроизводить свои результаты

Создадим объект Series из 5 нормально распределенных случайных чисел

In [14]:
np.random.seed(123)
s = pd.Series(np.random.normal(size=5))
s

0   -1.085631
1    0.997345
2    0.282978
3   -1.506295
4   -0.578600
dtype: float64

Создадим объект DataFrame размерности 4х3 из случайных чисел

In [15]:
np.random.seed(123)
df = pd.DataFrame(np.random.normal(size=12).reshape(4, 3),
                  index=['ind_1', 'ind_2', 'ind_3', 'ind_4'],
                  columns=['col_1', 'col_2', 'col_3'])
df

          col_1     col_2     col_3
ind_1 -1.085631  0.997345  0.282978
ind_2 -1.506295 -0.578600  1.651437
ind_3 -2.426679 -0.428913  1.265936
ind_4 -0.866740 -0.678886 -0.094709

#### [из файла](http://pandas.pydata.org/pandas-docs/stable/user_guide/io.html#io-tools-text-csv-hdf5)

| Column Name        | Description
| ------------- |:-------------:|
|Symbol|Сокращенное название организации|
|Name|Полное название организации|
|Sector|Сектор экономики|
|Price|Стоимость акции|
|Dividend Yield|Дивидендная доходность|
|Price/Earnings|Цена / прибыль|
|Earnings/Share|Прибыль на акцию|
|Book Value|Балансовая стоимость компании|
|52 week low|52-недельный минимум|
|52 week high|52-недельный максимум|
|Market Cap|Рыночная капитализация|
|EBITDA|**E**arnings **b**efore **i**nterest, **t**axes, **d**epreciation and **a**mortization|
|Price/Sales|Цена / объём продаж|
|Price/Book|Цена / балансовая стоимость|
|SEC Filings|Ссылка *sec.gov*|

In [16]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
            sep = ';')

    Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0    MMM,3M Co.,Industrials,141.14,2.12,20.33,6.90,...
1    ABT,Abbott Laboratories,Health Care,39.60,1.82...
2    ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,...
3    ACN,Accenture,Information Technology,79.79,2.3...
4    ACE,ACE Limited,Financials,102.91,2.21,10.00,1...
5    ACT,Actavis Inc,Health Care,213.77,,,-3.597,55...
6    ADBE,Adobe Systems Inc,Information Technology,...
7    AES,AES Corp,Utilities,13.61,1.32,,-0.04,5.781...
8    AET,Aetna Inc,Health Care,76.39,1.13,13.29,5.6...
9    AFL,AFLAC Inc,Financials,61.31,2.36,9.58,6.459...
10   A,Agilent Technologies Inc,Health Care,56.18,0...
11   GAS,AGL Resources Inc.,Utilities,52.98,3.61,14...
12   APD,Air Products & Chemicals Inc,Materials,118...
13   ARG,Airgas Inc,Materials,105.66,1.83,22.44,4.6...
14   AKAM,Akamai Technologies Inc,Information Techn...
15   AA,Alcoa Inc,Materials,13.52,0.91,,-2.432,9.67...
16   ALXN,Alexion Pharmaceuticals,Health Care,162.3...
17   ATI,Allegheny Technologies Inc,Materials,40.99...
18   ALLE,Allegion plc,Industrials,52.46,0.16,,0.00...
19   AGN,Allergan Inc,Health Care,166.92,0.12,40.23...
20   ADS,Alliance Data Systems Corp,Information Tec...
21   ALL,Allstate Corp,Financials,58.38,1.77,12.61,...
22   ALTR,Altera Corp,Information Technology,33.31,...
23   MO,Altria Group Inc,Consumer Staples,40.68,4.6...
24   AMZN,Amazon.com Inc,Consumer Discretionary,312...
25   AEE,Ameren Corp,Utilities,38.64,4.13,17.82,2.1...
26   AEP,American Electric Power,Utilities,51.41,3....
27   AXP,American Express Co,Financials,88.78,1.04,...
28   AIG,American Intl Group Inc,Financials,53.60,0...
29   AMT,American Tower Corp A,Financials,88.41,1.3...
..                                                 ...
470  VIAB,Viacom Inc.,Consumer Discretionary,84.99,...
471  V,Visa Inc.,Information Technology,212.07,0.73...
472  VNO,Vornado Realty Trust,Financials,105.32,2.8...
473  VMC,Vulcan Materials,Materials,61.19,0.20,59.5...
474  WMT,Wal-Mart Stores,Consumer Staples,75.61,2.5...
475  WAG,Walgreen Co.,Consumer Staples,69.79,1.80,2...
476  DIS,Walt Disney Co.,Consumer Discretionary,83....
477  WM,Waste Management Inc.,Industrials,43.37,3.3...
478  WAT,Waters Corporation,Health Care,100.54,,21....
479  WLP,WellPoint Inc.,Health Care,108.82,1.46,13....
480  WFC,Wells Fargo,Financials,50.16,2.50,12.44,4....
481  WDC,Western Digital,Information Technology,84....
482  WU,Western Union Co,Information Technology,15....
483  WY,Weyerhaeuser Corp.,Financials,30.87,2.90,30...
484  WHR,Whirlpool Corp.,Consumer Discretionary,147...
485  WFM,Whole Foods Market,Consumer Staples,37.78,...
486  WIN,Windstream Corporation,Telecommunications ...
487  WEC,Wisconsin Energy Corporation,Utilities,45....
488  WYN,Wyndham Worldwide,Consumer Discretionary,7...
489  WYNN,Wynn Resorts Ltd,Consumer Discretionary,2...
490  XEL,Xcel Energy Inc,Utilities,30.24,3.76,15.54...
491  XRX,Xerox Corp.,Information Technology,12.06,2...
492  XLNX,Xilinx Inc,Information Technology,46.03,1...
493  XL,XL Capital,Financials,32.47,1.79,9.66,3.359...
494  XYL,Xylem Inc.,Industrials,38.42,1.29,29.88,1....
495  YHOO,Yahoo Inc.,Information Technology,35.02,,...
496  YUM,Yum! Brands Inc,Consumer Discretionary,74....
497  ZMH,Zimmer Holdings,Health Care,101.84,0.81,22...
498  ZION,Zions Bancorp,Financials,28.43,0.56,18.82...
499  ZTS,Zoetis Inc,Health Care,30.53,0.90,29.22,1....

[500 rows x 1 columns]

разделитель

In [17]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',')

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.1210,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.3590,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.1900,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...
3,ACN,Accenture,Information Technology,79.79,2.34,19.53,4.068,8.326,69.00,85.88,50.513,4.4230,1.75,9.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
4,ACE,ACE Limited,Financials,102.91,2.21,10.00,10.293,86.897,84.73,104.07,34.753,4.2750,1.79,1.18,http://www.sec.gov/cgi-bin/browse-edgar?action...
5,ACT,Actavis Inc,Health Care,213.77,NaN,NaN,-3.597,55.188,118.68,230.77,37.291,2.4770,3.93,3.85,http://www.sec.gov/cgi-bin/browse-edgar?action...
6,ADBE,Adobe Systems Inc,Information Technology,64.30,NaN,121.44,0.520,13.262,41.91,71.11,32.004,0.7525,7.77,4.76,http://www.sec.gov/cgi-bin/browse-edgar?action...
7,AES,AES Corp,Utilities,13.61,1.32,NaN,-0.040,5.781,11.17,15.54,9.872,4.2910,0.62,2.37,http://www.sec.gov/cgi-bin/browse-edgar?action...
8,AET,Aetna Inc,Health Care,76.39,1.13,13.29,5.681,40.021,57.72,76.71,27.302,4.7370,0.52,1.89,http://www.sec.gov/cgi-bin/browse-edgar?action...
9,AFL,AFLAC Inc,Financials,61.31,2.36,9.58,6.459,34.527,54.02,67.62,27.844,4.7130,1.21,1.79,http://www.sec.gov/cgi-bin/browse-edgar?action...
10,A,Agilent Technologies Inc,Health Care,56.18,0.91,25.92,2.143,16.928,41.85,61.22,18.708,1.3960,2.73,3.28,http://www.sec.gov/cgi-bin/browse-edgar?action...
11,GAS,AGL Resources Inc.,Utilities,52.98,3.61,14.09,3.779,32.462,41.47,54.16,6.318,1.3900,1.16,1.64,http://www.sec.gov/cgi-bin/browse-edgar?action...
12,APD,Air Products & Chemicals Inc,Materials,118.74,2.45,25.25,4.680,34.723,90.12,124.40,25.206,2.4780,2.45,3.40,http://www.sec.gov/cgi-bin/browse-edgar?action...
13,ARG,Airgas Inc,Materials,105.66,1.83,22.44,4.680,24.882,92.86,113.16,7.816,0.9358,1.53,4.22,http://www.sec.gov/cgi-bin/browse-edgar?action...
14,AKAM,Akamai Technologies Inc,Information Technology,53.65,NaN,33.01,1.620,15.193,40.08,63.15,9.550,0.5905,5.72,3.52,http://www.sec.gov/cgi-bin/browse-edgar?action...
15,AA,Alcoa Inc,Materials,13.52,0.91,NaN,-2.432,9.670,7.63,13.95,15.849,2.5720,0.68,1.37,http://www.sec.gov/cgi-bin/browse-edgar?action...
16,ALXN,Alexion Pharmaceuticals,Health Care,162.30,NaN,97.03,1.654,13.628,87.01,185.43,32.102,0.6943,17.84,11.78,http://www.sec.gov/cgi-bin/browse-edgar?action...
17,ATI,Allegheny Technologies Inc,Materials,40.99,1.33,35.10,1.155,26.401,25.60,42.66,4.450,0.1368,1.12,1.54,http://www.sec.gov/cgi-bin/browse-edgar?action...
18,ALLE,Allegion plc,Industrials,52.46,0.16,NaN,0.000,0.000,40.24,55.78,NaN,0.0000,NaN,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
19,AGN,Allergan Inc,Health Care,166.92,0.12,40.23,4.074,22.207,81.33,170.05,49.668,2.1290,7.53,7.38,http://www.sec.gov/cgi-bin/browse-edgar?action...
20,ADS,Alliance Data Systems Corp,Information Technology,248.88,NaN,32.19,7.578,17.392,169.93,300.49,13.491,1.2930,2.94,14.03,http://www.sec.gov/cgi-bin/browse-edgar?action...
21,ALL,Allstate Corp,Financials,58.38,1.77,12.61,4.628,47.465,45.60,58.69,25.336,5.0800,0.73,1.23,http://www.sec.gov/cgi-bin/browse-edgar?action...
22,ALTR,Altera Corp,Information Technology,33.31,1.81,24.37,1.360,11.026,30.73,39.18,10.435,0.5472,5.82,3.01,http://www.sec.gov/cgi-bin/browse-edgar?action...
23,MO,Altria Group Inc,Consumer Staples,40.68,4.62,18.83,2.160,2.072,33.12,40.99,80.790,8.1510,4.56,19.63,http://www.sec.gov/cgi-bin/browse-edgar?action...
24,AMZN,Amazon.com Inc,Consumer Discretionary,312.24,NaN,475.68,0.641,22.452,258.34,408.06,143.700,3.7900,1.80,13.58,http://www.sec.gov/cgi-bin/browse-edgar?action...
25,AEE,Ameren Corp,Utilities,38.64,4.13,17.82,2.174,26.847,32.34,42.24,9.375,1.9960,1.64,1.44,http://www.sec.gov/cgi-bin/browse-edgar?action...
26,AEP,American Electric Power,Utilities,51.41,3.86,14.96,3.441,33.635,41.83,54.64,25.092,5.2860,1.55,1.53,http://www.sec.gov/cgi-bin/browse-edgar?action...
27,AXP,American Express Co,Financials,88.78,1.04,17.42,5.060,18.846,71.47,94.35,94.107,0.0000,3.00,4.68,http://www.sec.gov/cgi-bin/browse-edgar?action...
28,AIG,American Intl Group Inc,Financials,53.60,0.61,9.33,5.738,71.775,41.53,54.03,77.540,14.8530,1.16,0.75,http://www.sec.gov/cgi-bin/browse-edgar?action...
29,AMT,American Tower Corp A,Financials,88.41,1.31,60.59,1.460,9.279,67.89,90.00,34.988,2.1970,9.88,9.53,http://www.sec.gov/cgi-bin/browse-edgar?action...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,VIAB,Viacom Inc.,Consumer Discretionary,84.99,1.42,15.87,5.334,10.253,64.55,89.27,36.530,4.3610,2.65,8.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
471,V,Visa Inc.,Information Technology,212.07,0.73,24.77,8.452,43.391,170.99,235.50,133.300,7.9510,10.71,4.83,http://www.sec.gov/cgi-bin/browse-edgar?action...
472,VNO,Vornado Realty Trust,Financials,105.32,2.80,87.84,1.188,28.243,76.19,106.65,19.738,1.2970,7.69,3.69,http://www.sec.gov/cgi-bin/browse-edgar?action...
473,VMC,Vulcan Materials,Materials,61.19,0.20,59.55,1.006,30.819,46.21,69.50,8.004,0.4635,2.79,1.94,http://www.sec.gov/cgi-bin/browse-edgar?action...
474,WMT,Wal-Mart Stores,Consumer Staples,75.61,2.52,15.57,4.843,22.607,71.51,81.37,244.400,35.5600,0.51,3.33,http://www.sec.gov/cgi-bin/browse-edgar?action...
475,WAG,Walgreen Co.,Consumer Staples,69.79,1.80,24.59,2.840,21.779,43.31,71.02,66.603,4.9540,0.90,3.21,http://www.sec.gov/cgi-bin/browse-edgar?action...
476,DIS,Walt Disney Co.,Consumer Discretionary,83.32,1.04,21.19,3.887,26.405,60.41,83.65,144.300,13.1780,3.03,3.12,http://www.sec.gov/cgi-bin/browse-edgar?action...
477,WM,Waste Management Inc.,Industrials,43.37,3.38,128.64,0.338,12.330,38.81,46.38,20.183,3.4550,1.44,3.53,http://www.sec.gov/cgi-bin/browse-edgar?action...
478,WAT,Waters Corporation,Health Care,100.54,NaN,21.67,4.631,21.460,94.50,115.06,8.524,0.5845,4.47,4.68,http://www.sec.gov/cgi-bin/browse-edgar?action...
479,WLP,WellPoint Inc.,Health Care,108.82,1.46,13.98,7.680,86.358,75.02,109.33,30.434,5.0020,0.42,1.24,http://www.sec.gov/cgi-bin/browse-edgar?action...
480,WFC,Wells Fargo,Financials,50.16,2.50,12.44,4.020,30.479,39.40,50.49,264.200,0.0000,3.22,1.64,http://www.sec.gov/cgi-bin/browse-edgar?action...
481,WDC,Western Digital,Information Technology,84.83,1.32,19.54,4.280,37.311,58.04,95.00,19.941,3.1840,1.29,2.24,http://www.sec.gov/cgi-bin/browse-edgar?action...
482,WU,Western Union Co,Information Technology,15.77,3.18,11.01,1.430,1.981,14.60,19.50,8.499,1.4180,1.52,7.95,http://www.sec.gov/cgi-bin/browse-edgar?action...
483,WY,Weyerhaeuser Corp.,Financials,30.87,2.90,30.29,1.002,11.690,26.38,32.55,18.059,1.6600,2.07,2.60,http://www.sec.gov/cgi-bin/browse-edgar?action...
484,WHR,Whirlpool Corp.,Consumer Discretionary,147.26,1.80,15.95,9.145,66.221,107.88,160.01,11.448,2.0080,0.60,2.20,http://www.sec.gov/cgi-bin/browse-edgar?action...
485,WFM,Whole Foods Market,Consumer Staples,37.78,1.17,25.00,1.500,10.867,37.06,65.59,13.887,1.2760,1.01,3.45,http://www.sec.gov/cgi-bin/browse-edgar?action...
486,WIN,Windstream Corporation,Telecommunications Services,9.38,10.64,28.57,0.329,1.199,7.18,9.57,5.653,2.3410,0.95,7.84,http://www.sec.gov/cgi-bin/browse-edgar?action...
487,WEC,Wisconsin Energy Corporation,Utilities,45.13,2.56,16.98,2.657,19.165,39.04,49.21,10.178,1.5470,2.06,2.35,http://www.sec.gov/cgi-bin/browse-edgar?action...
488,WYN,Wyndham Worldwide,Consumer Discretionary,72.22,1.30,19.12,3.736,11.984,52.84,76.63,9.172,1.1400,1.79,5.96,http://www.sec.gov/cgi-bin/browse-edgar?action...
489,WYNN,Wynn Resorts Ltd,Consumer Discretionary,207.86,3.60,28.19,7.392,-0.719,121.84,249.31,20.957,1.7140,3.65,NaN,http://www.sec.gov/cgi-bin/browse-edgar?action...
490,XEL,Xcel Energy Inc,Utilities,30.24,3.76,15.54,1.950,19.450,26.90,32.37,15.180,2.9860,1.34,1.56,http://www.sec.gov/cgi-bin/browse-edgar?action...
491,XRX,Xerox Corp.,Information Technology,12.06,2.01,12.99,0.910,10.471,8.66,12.65,14.078,2.5280,0.65,1.13,http://www.sec.gov/cgi-bin/browse-edgar?action...
492,XLNX,Xilinx Inc,Information Technology,46.03,1.64,20.91,2.190,10.247,37.63,55.59,12.373,0.8336,5.17,4.47,http://www.sec.gov/cgi-bin/browse-edgar?action...
493,XL,XL Capital,Financials,32.47,1.79,9.66,3.359,37.451,27.79,33.12,8.816,1.2040,1.18,0.87,http://www.sec.gov/cgi-bin/browse-edgar?action...
494,XYL,Xylem Inc.,Industrials,38.42,1.29,29.88,1.270,12.127,23.61,39.79,7.061,0.6150,1.80,3.13,http://www.sec.gov/cgi-bin/browse-edgar?action...
495,YHOO,Yahoo Inc.,Information Technology,35.02,NaN,28.94,1.199,12.768,23.82,41.72,35.258,0.8873,7.48,2.72,http://www.sec.gov/cgi-bin/browse-edgar?action...
496,YUM,Yum! Brands Inc,Consumer Discretionary,74.77,1.93,29.86,2.507,5.147,64.08,79.70,33.002,2.8640,2.49,14.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
497,ZMH,Zimmer Holdings,Health Care,101.84,0.81,22.92,4.441,37.181,74.55,108.33,17.091,1.6890,3.68,2.74,http://www.sec.gov/cgi-bin/browse-edgar?action...
498,ZION,Zions Bancorp,Financials,28.43,0.56,18.82,1.511,30.191,26.39,33.33,5.257,0.0000,2.49,0.94,http://www.sec.gov/cgi-bin/browse-edgar?action...
499,ZTS,Zoetis Inc,Health Care,30.53,0.90,29.22,1.038,2.150,28.14,34.28,15.296,1.2920,3.33,14.11,http://www.sec.gov/cgi-bin/browse-edgar?action...

количество строк

In [18]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',',
           nrows = 3)

,Symbol,Name,Sector,Price,Dividend Yield,Price/Earnings,Earnings/Share,Book Value,52 week low,52 week high,Market Cap,EBITDA,Price/Sales,Price/Book,SEC Filings
0,MMM,3M Co.,Industrials,141.14,2.12,20.33,6.900,26.668,107.15,143.37,92.345,8.121,2.95,5.26,http://www.sec.gov/cgi-bin/browse-edgar?action...
1,ABT,Abbott Laboratories,Health Care,39.60,1.82,25.93,1.529,15.573,32.70,40.49,59.477,4.359,2.74,2.55,http://www.sec.gov/cgi-bin/browse-edgar?action...
2,ABBV,AbbVie Inc.,Health Care,53.95,3.02,20.87,2.570,2.954,40.10,54.78,85.784,7.190,4.48,18.16,http://www.sec.gov/cgi-bin/browse-edgar?action...

столбцы

In [19]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',',
           nrows = 3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'])

  Symbol       Sector   Price  Book Value
0    MMM  Industrials  141.14      26.668
1    ABT  Health Care   39.60      15.573
2   ABBV  Health Care   53.95       2.954

индекс

In [20]:
pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
           sep = ',',
           nrows = 3,
           usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
           index_col='Symbol')

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

итератор

In [21]:
df_chunk = pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
                       sep = ',',
                       chunksize=50,
                       usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
                       index_col='Symbol')

In [22]:
for df_tmp in df_chunk:
    print('DataFrame part:', df_tmp.shape)

DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)
DataFrame part: (50, 3)

In [23]:
sp500 = pd.read_csv(filepath_or_buffer = "../data/sp500.csv",
                    sep = ',',
                    usecols=['Symbol', 'Sector', 'Price', 'Book Value'],
                    index_col='Symbol')
sp500

                             Sector   Price  Book Value
Symbol
MMM                     Industrials  141.14      26.668
ABT                     Health Care   39.60      15.573
ABBV                    Health Care   53.95       2.954
ACN          Information Technology   79.79       8.326
ACE                      Financials  102.91      86.897
ACT                     Health Care  213.77      55.188
ADBE         Information Technology   64.30      13.262
AES                       Utilities   13.61       5.781
AET                     Health Care   76.39      40.021
AFL                      Financials   61.31      34.527
A                       Health Care   56.18      16.928
GAS                       Utilities   52.98      32.462
APD                       Materials  118.74      34.723
ARG                       Materials  105.66      24.882
AKAM         Information Technology   53.65      15.193
AA                        Materials   13.52       9.670
ALXN                    Health Care  162.30      13.628
ATI                       Materials   40.99      26.401
ALLE                    Industrials   52.46       0.000
AGN                     Health Care  166.92      22.207
ADS          Information Technology  248.88      17.392
ALL                      Financials   58.38      47.465
ALTR         Information Technology   33.31      11.026
MO                 Consumer Staples   40.68       2.072
AMZN         Consumer Discretionary  312.24      22.452
AEE                       Utilities   38.64      26.847
AEP                       Utilities   51.41      33.635
AXP                      Financials   88.78      18.846
AIG                      Financials   53.60      71.775
AMT                      Financials   88.41       9.279
...                             ...     ...         ...
VIAB         Consumer Discretionary   84.99      10.253
V            Information Technology  212.07      43.391
VNO                      Financials  105.32      28.243
VMC                       Materials   61.19      30.819
WMT                Consumer Staples   75.61      22.607
WAG                Consumer Staples   69.79      21.779
DIS          Consumer Discretionary   83.32      26.405
WM                      Industrials   43.37      12.330
WAT                     Health Care  100.54      21.460
WLP                     Health Care  108.82      86.358
WFC                      Financials   50.16      30.479
WDC          Information Technology   84.83      37.311
WU           Information Technology   15.77       1.981
WY                       Financials   30.87      11.690
WHR          Consumer Discretionary  147.26      66.221
WFM                Consumer Staples   37.78      10.867
WIN     Telecommunications Services    9.38       1.199
WEC                       Utilities   45.13      19.165
WYN          Consumer Discretionary   72.22      11.984
WYNN         Consumer Discretionary  207.86      -0.719
XEL                       Utilities   30.24      19.450
XRX          Information Technology   12.06      10.471
XLNX         Information Technology   46.03      10.247
XL                       Financials   32.47      37.451
XYL                     Industrials   38.42      12.127
YHOO         Information Technology   35.02      12.768
YUM          Consumer Discretionary   74.77       5.147
ZMH                     Health Care  101.84      37.181
ZION                     Financials   28.43      30.191
ZTS                     Health Care   30.53       2.150

[500 rows x 3 columns]

### Свойства

#### создаем Series для примеров

In [24]:
Simpsons = pd.Series({'Homer': 120,
                      'Marge': 60,
                      'Bart': 35,
                      'Lisa': 30,
                      'Maggie': 7})

Simpsons

Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
dtype: int64

In [25]:
np.random.seed(123)
numbers = pd.Series(data = np.random.normal(size=10),
                    index = np.arange(25,35))
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

#### тип данных

In [26]:
Simpsons.dtype

dtype('int64')

In [27]:
sp500.dtypes

Sector         object
Price         float64
Book Value    float64
dtype: object

#### количество элементов

Series:

In [28]:
print('Первый способ:', len(Simpsons))
print('Второй способ:', Simpsons.size)
print('Третий способ:', Simpsons.shape)

Первый способ: 5
Второй способ: 5
Третий способ: (5,)

DataFrame:

In [29]:
print('Первый способ:', len(sp500))
print('Второй способ:', sp500.size)
print('Третий способ:', sp500.shape)

Первый способ: 500
Второй способ: 1500
Третий способ: (500, 3)

#### количество уникальных элементов

In [30]:
Simpsons.nunique()

5

In [31]:
sp500.nunique()

Sector         13
Price         495
Book Value    495
dtype: int64

#### индекс и значения

Series:

In [32]:
Simpsons.index

Index(['Homer', 'Marge', 'Bart', 'Lisa', 'Maggie'], dtype='object')

In [33]:
Simpsons.values

array([120,  60,  35,  30,   7])

DataFrame:

In [34]:
sp500.index

Index(['MMM', 'ABT', 'ABBV', 'ACN', 'ACE', 'ACT', 'ADBE', 'AES', 'AET', 'AFL',
       ...
       'XEL', 'XRX', 'XLNX', 'XL', 'XYL', 'YHOO', 'YUM', 'ZMH', 'ZION', 'ZTS'],
      dtype='object', name='Symbol', length=500)

In [35]:
sp500.values

array([['Industrials', 141.14, 26.668000000000003],
       ['Health Care', 39.6, 15.573],
       ['Health Care', 53.95, 2.9539999999999997],
       ...,
       ['Health Care', 101.84, 37.181],
       ['Financials', 28.43, 30.191],
       ['Health Care', 30.53, 2.15]], dtype=object)

In [36]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

#### присвоение / изменение имени

#####  объекта Series

In [37]:
Simpsons.name = 'Simpsons weight'
Simpsons

Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

##### индекса

In [38]:
Simpsons.index.name = 'First name'
Simpsons

First name
Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

##### столбца

In [39]:
sp500_copy = sp500.rename(columns = {'Book Value': 'BookValue'})

проверяем, не изменились ли имена столбцов в исходном датафрейме

In [40]:
sp500.columns

Index(['Sector', 'Price', 'Book Value'], dtype='object')

In [41]:
sp500_copy.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

этот программный код переименовывает столбец на месте

In [42]:
sp500_copy.rename(columns = {'Book Value': 'BookValue'},
            inplace=True)

смотрим изменилось ли имя столбца

In [43]:
sp500_copy.columns

Index(['Sector', 'Price', 'BookValue'], dtype='object')

### Вывод значений

#### первые / последние строки

In [44]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [45]:
Simpsons.tail(3)

First name
Bart      35
Lisa      30
Maggie     7
Name: Simpsons weight, dtype: int64

#### столбцы

извлекаем столбец Sector

In [46]:
sp500['Sector'].head()

Symbol
MMM                Industrials
ABT                Health Care
ABBV               Health Care
ACN     Information Technology
ACE                 Financials
Name: Sector, dtype: object

тип столбца датафрейма:

In [47]:
type(sp500['Sector'])

pandas.core.series.Series

извлекаем столбцы Price и Book Value

In [48]:
sp500[['Price', 'Book Value']].head()

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897

покажем, что результат является объектом DataFrame

In [49]:
type(sp500[['Price', 'Book Value']])

pandas.core.frame.DataFrame

атрибутивный доступ к столбцу по имени

In [50]:
sp500.Price.head()

Symbol
MMM     141.14
ABT      39.60
ABBV     53.95
ACN      79.79
ACE     102.91
Name: Price, dtype: float64

пример с названием "Book Value"

In [53]:
sp500_copy.BookValue

Symbol
MMM     26.668
ABT     15.573
ABBV     2.954
ACN      8.326
ACE     86.897
ACT     55.188
ADBE    13.262
AES      5.781
AET     40.021
AFL     34.527
A       16.928
GAS     32.462
APD     34.723
ARG     24.882
AKAM    15.193
AA       9.670
ALXN    13.628
ATI     26.401
ALLE     0.000
AGN     22.207
ADS     17.392
ALL     47.465
ALTR    11.026
MO       2.072
AMZN    22.452
AEE     26.847
AEP     33.635
AXP     18.846
AIG     71.775
AMT      9.279
         ...
VIAB    10.253
V       43.391
VNO     28.243
VMC     30.819
WMT     22.607
WAG     21.779
DIS     26.405
WM      12.330
WAT     21.460
WLP     86.358
WFC     30.479
WDC     37.311
WU       1.981
WY      11.690
WHR     66.221
WFM     10.867
WIN      1.199
WEC     19.165
WYN     11.984
WYNN    -0.719
XEL     19.450
XRX     10.471
XLNX    10.247
XL      37.451
XYL     12.127
YHOO    12.768
YUM      5.147
ZMH     37.181
ZION    30.191
ZTS      2.150
Name: BookValue, Length: 500, dtype: float64

#### строки

##### по метке

**Series**

In [54]:
numbers.loc[[25,33]]

25   -1.085631
33    1.265936
dtype: float64

ошибка - нет метки

In [55]:
numbers.loc[0]

KeyError: 0

**DataFrame**

получаем строку с меткой индекса MMM,которая возвращается в виде объекта Series

In [56]:
sp500.loc['MMM']

Sector        Industrials
Price              141.14
Book Value         26.668
Name: MMM, dtype: object

In [57]:
type(sp500.loc['MMM'])

pandas.core.series.Series

получаем строки MMM и MSFT результатом будет объект DataFrame

In [58]:
sp500.loc[['MMM', 'MSFT']]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
MSFT    Information Technology   40.12      10.584

In [59]:
type(sp500.loc[['MMM', 'MSFT']])

pandas.core.frame.DataFrame

##### по позиции

**Series**

In [60]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

по позиции

In [62]:
numbers.iloc[[5,6]]

30    1.651437
31   -2.426679
dtype: float64

ошибка:

In [63]:
numbers.iloc[10]

IndexError: single positional indexer is out-of-bounds

**DataFrame**

получаем строки, имеющие позиции 0 и 2

In [64]:
sp500.iloc[[0, 2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954

получаем позиции меток MMM и A в индексе

In [65]:
i1 = sp500.index.get_loc('MMM')
i2 = sp500.index.get_loc('A')
(i1, i2)

(0, 10)

и извлекаем строки

In [66]:
sp500.iloc[[i1, i2]]

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
A       Health Care   56.18      16.928

#### поиск скалярного значения

ищем скалярное значение по метке строки и метке (имени) столбца

In [67]:
sp500.at['MMM', 'Price']

141.14

ищем скалярное значение по позиции строки и позиции столбца; извлекаем значение в строке 0, столбце 1

In [68]:
sp500.iat[0, 1]

141.14

#### одновременный отбор строк и столбцов

отбираем строки с метками индекса ABT и ZTS для столбцов Sector и Price

In [69]:
sp500.loc[['ABT', 'ZTS']][['Sector', 'Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53

In [70]:
sp500.loc[['ABT', 'ZTS'],['Sector', 'Price']]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53

определение номера позиций заданных меток

In [71]:
print(sp500.index.get_loc('ABT'),sp500.index.get_loc('ZTS'))

1 499

отбор строк и столбцов по номеру позиций

In [72]:
sp500.iloc[[1,499],[0,1]]

             Sector  Price
Symbol
ABT     Health Care  39.60
ZTS     Health Care  30.53

#### транспонирование

In [73]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [74]:
sp500.T.head()

Symbol,MMM,ABT,ABBV,ACN,ACE,ACT,ADBE,AES,AET,AFL,...,XEL,XRX,XLNX,XL,XYL,YHOO,YUM,ZMH,ZION,ZTS
Sector,Industrials,Health Care,Health Care,Information Technology,Financials,Health Care,Information Technology,Utilities,Health Care,Financials,...,Utilities,Information Technology,Information Technology,Financials,Industrials,Information Technology,Consumer Discretionary,Health Care,Financials,Health Care
Price,141.14,39.6,53.95,79.79,102.91,213.77,64.3,13.61,76.39,61.31,...,30.24,12.06,46.03,32.47,38.42,35.02,74.77,101.84,28.43,30.53
Book Value,26.668,15.573,2.954,8.326,86.897,55.188,13.262,5.781,40.021,34.527,...,19.45,10.471,10.247,37.451,12.127,12.768,5.147,37.181,30.191,2.15

#### переиндексация

ошибка:

In [75]:
sp500.loc[['MMM', 'ABBV', 'NEW VALUE']]

//anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

                Sector   Price  Book Value
Symbol
MMM        Industrials  141.14      26.668
ABBV       Health Care   53.95       2.954
NEW VALUE          NaN     NaN         NaN

делаем переиндексацию, задав метки MMM, ABBV и NEW VALUE

In [76]:
reindexed = sp500.reindex(index=['MMM', 'ABBV', 'NEW VALUE'])

обратите внимание, что все индексы, кромя перечисленных при вызове, удалены, а *NEW VALUE* содержит значения *NaN*

In [77]:
reindexed

                Sector   Price  Book Value
Symbol
MMM        Industrials  141.14      26.668
ABBV       Health Care   53.95       2.954
NEW VALUE          NaN     NaN         NaN

выполняем переиндексацию столбцов

In [78]:
sp500.reindex(columns=['Price', 'Book Value', 'NewCol']).head()

         Price  Book Value  NewCol
Symbol
MMM     141.14      26.668     NaN
ABT      39.60      15.573     NaN
ABBV     53.95       2.954     NaN
ACN      79.79       8.326     NaN
ACE     102.91      86.897     NaN

при этом можем заполнить отсутствующие значения константами вместо *NaN*

In [79]:
sp500.reindex(columns=['Price',
                       'Book Value',
                       'NewCol'],
              fill_value=0).head()

         Price  Book Value  NewCol
Symbol
MMM     141.14      26.668       0
ABT      39.60      15.573       0
ABBV     53.95       2.954       0
ACN      79.79       8.326       0
ACE     102.91      86.897       0

#### случайная подвыборка

отбираем три случайные строки

In [80]:
sp500.sample(n=3)

                        Sector  Price  Book Value
Symbol
ZION                Financials  28.43      30.191
NOV                     Energy  81.90      52.925
STX     Information Technology  51.95       8.080

случайный отбор с возвращением

In [81]:
sp500.sample(frac=5, replace=True, random_state=777)

                        Sector   Price  Book Value
Symbol
CLF                  Materials   16.34      34.523
MHK     Consumer Discretionary  136.41      61.582
BDX                Health Care  115.70      27.510
HOT     Consumer Discretionary   78.73      17.218
CELG               Health Care  150.13      11.200
THC                Health Care   47.90       7.460
BMY                Health Care   48.79       9.337
EA      Information Technology   34.88       7.777
DHR                Industrials   78.42      32.824
COP                     Energy   78.43      43.351
STT                 Financials   64.49      46.557
VMC                  Materials   61.19      30.819
MSFT    Information Technology   40.12      10.584
MTB                 Financials  121.17      81.072
MWV                  Materials   40.18      20.863
SLB                     Energy  101.39      30.721
R                  Industrials   83.77      35.697
D                    Utilities   69.32      20.115
AME     Information Technology   52.49      13.341
PAYX    Information Technology   40.82       4.916
NEM                  Materials   23.40      20.097
OXY                     Energy   96.97      54.732
OKE                  Utilities   64.81       2.812
NKE     Consumer Discretionary   75.85      12.637
LB      Consumer Discretionary   57.32      -1.271
BLK                 Financials  300.69     156.547
ABC                Health Care   71.64       9.430
F       Consumer Discretionary   16.02       6.771
CLF                  Materials   16.34      34.523
CA      Information Technology   29.19      12.695
...                        ...     ...         ...
AMT                 Financials   88.41       9.279
MON                  Materials  119.92      26.080
EQT                  Utilities  102.19      27.534
KMB           Consumer Staples  110.73      12.375
DNR                     Energy   16.71      14.677
INTU    Information Technology   79.59      11.391
POM                  Utilities   27.70      17.276
MO            Consumer Staples   40.68       2.072
SYMC    Information Technology   22.27       8.341
FAST               Industrials   48.46       6.069
AAPL    Information Technology  614.13     139.460
DUK                  Utilities   70.28      57.580
MCO                 Financials   82.50       1.803
FCX                  Materials   34.43      20.356
HBAN                Financials    9.10       6.995
ISRG               Health Care  363.86      95.224
ZION                Financials   28.43      30.191
AXP                 Financials   88.78      18.846
QEP                  Utilities   30.57      18.978
BLL                  Materials   60.22       7.750
NDAQ                Financials   36.45      36.578
SBUX    Consumer Discretionary   71.98       6.558
CHRW               Industrials   59.63       6.609
MWV                  Materials   40.18      20.863
HOG     Consumer Discretionary   70.71      14.429
BTU                     Energy   17.22      14.644
MCO                 Financials   82.50       1.803
LRCX    Information Technology   60.61      29.677
CI                 Health Care   89.24      39.304
MCO                 Financials   82.50       1.803

[2500 rows x 3 columns]

#### [настройки вывода](http://pandas.pydata.org/pandas-docs/stable/user_guide/options.html#available-options)

In [82]:
pd.options.display.max_rows

60

In [83]:
sp500

                             Sector   Price  Book Value
Symbol
MMM                     Industrials  141.14      26.668
ABT                     Health Care   39.60      15.573
ABBV                    Health Care   53.95       2.954
ACN          Information Technology   79.79       8.326
ACE                      Financials  102.91      86.897
ACT                     Health Care  213.77      55.188
ADBE         Information Technology   64.30      13.262
AES                       Utilities   13.61       5.781
AET                     Health Care   76.39      40.021
AFL                      Financials   61.31      34.527
A                       Health Care   56.18      16.928
GAS                       Utilities   52.98      32.462
APD                       Materials  118.74      34.723
ARG                       Materials  105.66      24.882
AKAM         Information Technology   53.65      15.193
AA                        Materials   13.52       9.670
ALXN                    Health Care  162.30      13.628
ATI                       Materials   40.99      26.401
ALLE                    Industrials   52.46       0.000
AGN                     Health Care  166.92      22.207
ADS          Information Technology  248.88      17.392
ALL                      Financials   58.38      47.465
ALTR         Information Technology   33.31      11.026
MO                 Consumer Staples   40.68       2.072
AMZN         Consumer Discretionary  312.24      22.452
AEE                       Utilities   38.64      26.847
AEP                       Utilities   51.41      33.635
AXP                      Financials   88.78      18.846
AIG                      Financials   53.60      71.775
AMT                      Financials   88.41       9.279
...                             ...     ...         ...
VIAB         Consumer Discretionary   84.99      10.253
V            Information Technology  212.07      43.391
VNO                      Financials  105.32      28.243
VMC                       Materials   61.19      30.819
WMT                Consumer Staples   75.61      22.607
WAG                Consumer Staples   69.79      21.779
DIS          Consumer Discretionary   83.32      26.405
WM                      Industrials   43.37      12.330
WAT                     Health Care  100.54      21.460
WLP                     Health Care  108.82      86.358
WFC                      Financials   50.16      30.479
WDC          Information Technology   84.83      37.311
WU           Information Technology   15.77       1.981
WY                       Financials   30.87      11.690
WHR          Consumer Discretionary  147.26      66.221
WFM                Consumer Staples   37.78      10.867
WIN     Telecommunications Services    9.38       1.199
WEC                       Utilities   45.13      19.165
WYN          Consumer Discretionary   72.22      11.984
WYNN         Consumer Discretionary  207.86      -0.719
XEL                       Utilities   30.24      19.450
XRX          Information Technology   12.06      10.471
XLNX         Information Technology   46.03      10.247
XL                       Financials   32.47      37.451
XYL                     Industrials   38.42      12.127
YHOO         Information Technology   35.02      12.768
YUM          Consumer Discretionary   74.77       5.147
ZMH                     Health Care  101.84      37.181
ZION                     Financials   28.43      30.191
ZTS                     Health Care   30.53       2.150

[500 rows x 3 columns]

In [84]:
pd.options.display.max_rows = 10

In [85]:
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

In [86]:
pd.options.display.max_rows

10

### Срезы данных

#### Series

Задаём срез по правилу: [начальная позиция: конечная позиция: величина шага], при этом:
- Правая граница - не включается
- Шаг может быть отрицательным
- Позиция также может быть отрицательной - тогда отсчёт происходит "с другого конца"
- Нумерация происходит от нуля

In [87]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

срез, содержащий элементы с позициями от 1 по 5

In [88]:
numbers.iloc[1:6]

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
dtype: float64

выбираем элементы в позициях 1, 3, 5 == выбираем элементы с 1 по 5 позицию с шагом 2

In [89]:
numbers.iloc[1:6:2]

26    0.997345
28   -1.506295
30    1.651437
dtype: float64

можем оставить только конечную позицию

In [90]:
numbers.iloc[:6]

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
dtype: float64

либо оставим только начальную позицию

In [91]:
numbers.iloc[3:]

28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

отбираем элементы Series в обратном порядке, начиная с 5

In [92]:
numbers.iloc[5::-1]

30    1.651437
29   -0.578600
28   -1.506295
27    0.282978
26    0.997345
25   -1.085631
dtype: float64

отбор 4 последних строк

In [93]:
numbers.iloc[-4:]

31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

####  DataFrame

In [94]:
sp500.iloc[:5]

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

в обратном порядке

In [95]:
sp500.iloc[4::-1]

                        Sector   Price  Book Value
Symbol
ACE                 Financials  102.91      86.897
ACN     Information Technology   79.79       8.326
ABBV               Health Care   53.95       2.954
ABT                Health Care   39.60      15.573
MMM                Industrials  141.14      26.668

строки, начиная с метки ABT и заканчивая меткой ACN

In [96]:
sp500.loc['ABT':'ACN']

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326

### Копирование и ссылки

In [97]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

элементы с 1 по 4

In [98]:
numbers.iloc[[1,2,3,4]]

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

сохранили в переменную n

In [99]:
n = numbers.iloc[[1,2,3,4]]

In [100]:
n

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

присваиваем значение 0 всем элементам

In [101]:
n.loc[:] = 0
n

26    0.0
27    0.0
28    0.0
29    0.0
dtype: float64

что-нибудь произошло с numbers?

In [102]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

еще раз сохраним первые 4 элемента

In [103]:
n = numbers.iloc[[1,2,3,4]]
n

26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
dtype: float64

создаем переменную k = срез с 1 по 4 элемент

In [104]:
k = numbers[1:5]
k.loc[:] = 0
k

26    0.0
27    0.0
28    0.0
29    0.0
dtype: float64

In [105]:
numbers

25   -1.085631
26    0.000000
27    0.000000
28    0.000000
29    0.000000
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

воcстановили numbers

In [106]:
numbers[1:5] = n
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

###  Удаление

#### del

Series

In [107]:
Simpsons

First name
Homer     120
Marge      60
Bart       35
Lisa       30
Maggie      7
Name: Simpsons weight, dtype: int64

In [108]:
Simpsons_copy = Simpsons.copy()
del Simpsons_copy['Maggie']
Simpsons_copy

First name
Homer    120
Marge     60
Bart      35
Lisa      30
Name: Simpsons weight, dtype: int64

DataFrame

In [109]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [110]:
sp500_copy = sp500.copy()
del sp500_copy['Price']
sp500_copy.iloc[:2]

             Sector  Book Value
Symbol
MMM     Industrials      26.668
ABT     Health Care      15.573

#### pop

In [111]:
sp500_copy = sp500.copy()

In [112]:
sp500_copy.head(3)

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

эта строка удалит столбец Sector и возвратит его как серию

In [113]:
popped_column = sp500_copy.pop('Sector')

столбец Sector удален на месте

In [114]:
sp500_copy.head(3)

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954

и у нас есть столбец Sector, полученный в результате применения pop

In [115]:
popped_column.head(3)

Symbol
MMM     Industrials
ABT     Health Care
ABBV    Health Care
Name: Sector, dtype: object

Для Series применение .pop идентично

#### drop

In [116]:
sp500_copy = sp500.copy()

In [117]:
sp500_copy.head(3)

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

- эта строка вернет новый датафрейм с удаленным столбцом 'Sector’
- копия датафрейма не изменится

In [118]:
sp500_copy_after_drop = sp500_copy.drop(['Sector'], axis = 1)
sp500_copy_after_drop.head(3)

         Price  Book Value
Symbol
MMM     141.14      26.668
ABT      39.60      15.573
ABBV     53.95       2.954

In [119]:
sp500_copy.head(3)

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABT     Health Care   39.60      15.573
ABBV    Health Care   53.95       2.954

получаем копию первых 5 строк датафрейма data

In [120]:
sp500_part_copy = sp500.iloc[:5].copy()
sp500_part_copy

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

удаляем строки с метками ABT и ACN

In [121]:
sp500_part_copy = sp500_part_copy.drop(['ABT', 'ACN'], axis=0)
sp500_part_copy.head(5)

             Sector   Price  Book Value
Symbol
MMM     Industrials  141.14      26.668
ABBV    Health Care   53.95       2.954
ACE      Financials  102.91      86.897

Для Series применение .drop идентично

### Фильтрация по условию

#### Series

In [122]:
numbers

25   -1.085631
26    0.997345
27    0.282978
28   -1.506295
29   -0.578600
30    1.651437
31   -2.426679
32   -0.428913
33    1.265936
34   -0.866740
dtype: float64

какие строки имеют значения больше 0 и меньше 1?

In [123]:
logical_results = (numbers > 0) & (numbers < 1)
logical_results

25    False
26     True
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
dtype: bool

Скобки!!! Следующий программный код приведет к выдаче исключения
```python
numbers > 0 & numbers < 1 
```

тип полученного результата - Series, который можно использовать для отбора интерсующих нас значений

In [124]:
type(logical_results)

pandas.core.series.Series

отбираем строки со значением True

In [125]:
numbers[logical_results]

26    0.997345
27    0.282978
dtype: float64

использование метода .where

In [126]:
numbers.where((numbers > 0) & (numbers < 1))

25         NaN
26    0.997345
27    0.282978
28         NaN
29         NaN
30         NaN
31         NaN
32         NaN
33         NaN
34         NaN
dtype: float64

In [127]:
numbers.where((numbers > 0) & (numbers < 1), other = -1)

25   -1.000000
26    0.997345
27    0.282978
28   -1.000000
29   -1.000000
30   -1.000000
31   -1.000000
32   -1.000000
33   -1.000000
34   -1.000000
dtype: float64

все ли элементы >= 0?

In [129]:
(numbers >= 0).all()

False

есть ли элемент < 2?

In [130]:
(numbers < 2).any()

True

сколько значений < 1?

In [131]:
numbers < 1

25     True
26     True
27     True
28     True
29     True
30    False
31     True
32     True
33    False
34     True
dtype: bool

In [132]:
(numbers < 1).sum()

8

#### DataFrame

какие строки имеют значения Price < 100?

In [133]:
sp500.Price < 100

Symbol
MMM     False
ABT      True
ABBV     True
ACN      True
ACE     False
        ...
YHOO     True
YUM      True
ZMH     False
ZION     True
ZTS      True
Name: Price, Length: 500, dtype: bool

теперь получим строки, в которых Price < 100

In [134]:
sp500[sp500.Price < 100]

                        Sector  Price  Book Value
Symbol
ABT                Health Care  39.60      15.573
ABBV               Health Care  53.95       2.954
ACN     Information Technology  79.79       8.326
ADBE    Information Technology  64.30      13.262
AES                  Utilities  13.61       5.781
...                        ...    ...         ...
XYL                Industrials  38.42      12.127
YHOO    Information Technology  35.02      12.768
YUM     Consumer Discretionary  74.77       5.147
ZION                Financials  28.43      30.191
ZTS                Health Care  30.53       2.150

[407 rows x 3 columns]

извлекаем лишь те строки, в которых значение Price < 10 и > 6

In [136]:
r = sp500[(sp500['Price'] < 10) & 
          (sp500.Price > 6)] ['Price']
r

Symbol
HCBK    9.80
HBAN    9.10
SLM     8.82
WIN     9.38
Name: Price, dtype: float64

извлекаем строки, в которых переменная Sector принимает значение Health Care, а переменная Price больше или равна 100.00

In [137]:
r = sp500[(sp500.Sector == 'Health Care') & 
          (sp500.Price >= 100.00)] [['Price', 'Sector']]
r

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
...        ...          ...
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

[19 rows x 2 columns]

использование метода .isin

In [138]:
s_tmp = sp500.Sector.isin(['Information Technology', 'Financials'])
s_tmp

Symbol
MMM     False
ABT     False
ABBV    False
ACN      True
ACE      True
        ...
YHOO     True
YUM     False
ZMH     False
ZION     True
ZTS     False
Name: Sector, Length: 500, dtype: bool

In [139]:
sp500[s_tmp].head()

                        Sector   Price  Book Value
Symbol
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
ADBE    Information Technology   64.30      13.262
AFL                 Financials   61.31      34.527
AKAM    Information Technology   53.65      15.193

использование метода .query

In [140]:
r = sp500[(sp500.Sector == 'Health Care') & 
          (sp500.Price >= 100.00)] [['Price', 'Sector']]
r

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
...        ...          ...
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

[19 rows x 2 columns]

In [141]:
q = sp500.query("Sector=='Health Care' & Price >= 100")[['Price', 'Sector']]
q

         Price       Sector
Symbol
ACT     213.77  Health Care
ALXN    162.30  Health Care
AGN     166.92  Health Care
AMGN    114.33  Health Care
BCR     146.62  Health Care
...        ...          ...
REGN    297.77  Health Care
TMO     115.74  Health Care
WAT     100.54  Health Care
WLP     108.82  Health Care
ZMH     101.84  Health Care

[19 rows x 2 columns]

### Добавление

#### оператор [ ]

создаем копию, чтобы исходные данные остались в неизменном виде

In [142]:
sp500_copy = sp500.copy()

добавляем столбец

In [143]:
sp500_copy['RoundedPrice'] = sp500_copy.Price.round()
sp500_copy.head(3)

             Sector   Price  Book Value  RoundedPrice
Symbol
MMM     Industrials  141.14      26.668         141.0
ABT     Health Care   39.60      15.573          40.0
ABBV    Health Care   53.95       2.954          54.0

#### метод .insert()

создаем копию, чтобы исходные данные остались в неизменном виде

In [153]:
sp500_copy = sp500.copy()

вставляем столбец RoundedPrice в качестве третьего столбца датафрейма

In [154]:
sp500_copy.insert(1, 'RoundedPrice', sp500_copy.Price.round())
sp500_copy.head(3)

             Sector  RoundedPrice   Price  Book Value
Symbol
MMM     Industrials         141.0  141.14      26.668
ABT     Health Care          40.0   39.60      15.573
ABBV    Health Care          54.0   53.95       2.954

#### метод .assign()

создаем копию, чтобы исходные данные остались в неизменном виде

In [155]:
sp500_copy = sp500.copy()

одновременное добавление двух столбцов:

In [156]:
sp500_copy.assign(Rounded_Price=sp500_copy.Price.round(),
                  R_BookValue_Price=lambda x: (x['Book Value'] / x['Rounded_Price']))

,Sector,Price,Book Value,Rounded_Price,R_BookValue_Price
Symbol,,,,,
MMM,Industrials,141.14,26.668,141.0,0.189135
ABT,Health Care,39.60,15.573,40.0,0.389325
ABBV,Health Care,53.95,2.954,54.0,0.054704
ACN,Information Technology,79.79,8.326,80.0,0.104075
ACE,Financials,102.91,86.897,103.0,0.843660
...,...,...,...,...,...
YHOO,Information Technology,35.02,12.768,35.0,0.364800
YUM,Consumer Discretionary,74.77,5.147,75.0,0.068627
ZMH,Health Care,101.84,37.181,102.0,0.364520
ZION,Financials,28.43,30.191,28.0,1.078250
ZTS,Health Care,30.53,2.150,31.0,0.069355

### Выравнивание данных

#### Series

первая серия для примеров

In [157]:
s_1 = pd.Series(data=[77,33,11],index=['a','b','f'])
s_1

a    77
b    33
f    11
dtype: int64

вторая серия для примеров

In [158]:
s_2 = pd.Series(data=[11,5,6],index=['c','b','a'])
s_2

c    11
b     5
a     6
dtype: int64

для непересекающейся части индексов будут получены значения NaN

In [159]:
s_1+s_2

a    83.0
b    38.0
c     NaN
f     NaN
dtype: float64

метки не обязательно должны быть уникальными

In [160]:
s_1 = pd.Series(data=[77, 33, 15, 3], index=['a', 'a', 'a', 'd'])
s_1

a    77
a    33
a    15
d     3
dtype: int64

In [161]:
s_2 = pd.Series(data=[11, 5, 6], index=['c', 'a', 'a'])
s_2

c    11
a     5
a     6
dtype: int64

3 метки 'а' и 2 метки 'а', результат 6 меток а

In [162]:
s_2+s_1

a    82.0
a    38.0
a    20.0
a    83.0
a    39.0
a    21.0
c     NaN
d     NaN
dtype: float64

#### DataFrame

In [163]:
sp500_part_1 = sp500.iloc[0:5, 0:2].copy()
sp500_part_2 = sp500.iloc[2:7, 1:3].copy()

In [164]:
sp500_part_1

                        Sector   Price
Symbol
MMM                Industrials  141.14
ABT                Health Care   39.60
ABBV               Health Care   53.95
ACN     Information Technology   79.79
ACE                 Financials  102.91

In [165]:
sp500_part_2

         Price  Book Value
Symbol
ABBV     53.95       2.954
ACN      79.79       8.326
ACE     102.91      86.897
ACT     213.77      55.188
ADBE     64.30      13.262

In [166]:
sp500_part_1 + sp500_part_2

        Book Value   Price Sector
Symbol
ABBV           NaN  107.90    NaN
ABT            NaN     NaN    NaN
ACE            NaN  205.82    NaN
ACN            NaN  159.58    NaN
ACT            NaN     NaN    NaN
ADBE           NaN     NaN    NaN
MMM            NaN     NaN    NaN

происходит выравнивание при создании датафрейма

In [167]:
series_1 = pd.Series([70, 90])
series_2 = pd.Series([71, 91])
series_3 = pd.Series([85, 87], index=[1, 2])
df = pd.DataFrame({'col_1': series_1,
                   'col_2': series_2,
                   'col_3': series_3})
df

   col_1  col_2  col_3
0   70.0   71.0    NaN
1   90.0   91.0   85.0
2    NaN    NaN   87.0

### Сортировка

#### по индексу

In [168]:
sp500.head()

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897

In [169]:
sp500.sort_index().head()

                        Sector   Price  Book Value
Symbol
A                  Health Care   56.18      16.928
AA                   Materials   13.52       9.670
AAPL    Information Technology  614.13     139.460
ABBV               Health Care   53.95       2.954
ABC                Health Care   71.64       9.430

In [170]:
sp500.sort_index(axis=1).head()

        Book Value   Price                  Sector
Symbol
MMM         26.668  141.14             Industrials
ABT         15.573   39.60             Health Care
ABBV         2.954   53.95             Health Care
ACN          8.326   79.79  Information Technology
ACE         86.897  102.91              Financials

#### по значению

In [171]:
sp500.sort_values(by='Price').head()

                             Sector  Price  Book Value
Symbol
BEAM         Consumer Discretionary   0.00         NaN
FTR     Telecommunications Services   5.81       3.989
SLM                      Financials   8.82      11.895
HBAN                     Financials   9.10       6.995
WIN     Telecommunications Services   9.38       1.199

In [172]:
sp500.sort_values(by='Price', ascending=False).head()

                        Sector    Price  Book Value
Symbol
PCLN               Industrials  1197.12     137.886
GHC     Consumer Discretionary   677.29       0.000
AAPL    Information Technology   614.13     139.460
GOOG    Information Technology   552.70     135.977
AZO     Consumer Discretionary   540.90     -51.275

#### наименьшее / наибольшее значение

In [173]:
sp500.nsmallest(5, 'Price')

                             Sector  Price  Book Value
Symbol
BEAM         Consumer Discretionary   0.00         NaN
FTR     Telecommunications Services   5.81       3.989
SLM                      Financials   8.82      11.895
HBAN                     Financials   9.10       6.995
WIN     Telecommunications Services   9.38       1.199

In [177]:
sp500.nlargest
#(5, 'Price')